
<div class="container">
    <u><h1>Novo post</h1></u>
    <div class="col-md-8 col-md-offset-2">
        <h1 class="new-msg-header">Criar novo post</h1>
        <%= render 'form' %>
    </div>
</div>
